storage "gcs" {
  GOOGLE_APPLICATION_CREDENTIALS = "/home/ansible/.ssh/terraform-252815-3f0c5fac9953.json"
  bucket     = "liveops-vault-data"
  chunk_size = "512"
}

listener "tcp" {
	address     = "0.0.0.0:8200"
	tls_disable = 1
}